[Unit]
Description=Streamweaver MediaMTX RTSP Server
After=network.target

[Service]
Type=simple
ExecStart=/opt/streamweaver/mediamtx /opt/streamweaver/mediamtx.yml
Restart=on-failure
User=streamweaver

[Install]
WantedBy=multi-user.target
