[Unit]
Description=Streamweaver MediaMTX RTSP Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/share/streamweaver/src/streamweaver/thirdparty/mediamtx/mediamtx /usr/share/streamweaver/src/streamweaver/thirdparty/mediamtx/mediamtx.yml
Restart=on-failure
User=streamweaver

[Install]
WantedBy=multi-user.target
